@{
    Layout = "_Layout";
}

@model Registrar.Models.Department
@using Registrar.Models
@using System.Collections.Generic

<h2>Department Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.JoinEntities2.Count == 0)
{
    <p>This department does not have any courses</p>
}
else
{
    <h4>Courses in this department:</h4>
    <ul>
        @foreach(CourseDepartment join in Model.JoinEntities2)
        {
            <li>@join.Course.Name</li>
            @using (Html.BeginForm("DeleteJoin", "Departments"))
            {
                @Html.Hidden("joinId", @join.CourseDepartmentId)
                <input type="submit" value="delete"/>
            }
        }
    </ul>
} 

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a course", "AddCourse", new { id = Model.DepartmentId })</p>
