@{
    Layout = "_Layout";
}

@model Registrar.Models.Department

<h4>Add a new department</h4>
<p>@Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new department" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all departments", "Index")</p>
